body{
    background-image: url(../images/fundo.jpg);
}

.card{
    height: 522px;
    width: 625px;
}

#voltar-login, #cadastro{
    background-color: #212529 ;
}

.colorCard1{
    color: white;
    background-color: #212529;
    box-sizing: border-box;
    border-radius: 15px;
    animation: teste 5s ease infinite;
}

.colorCard2{
    height: 522px;
    width: 625px;
    background: #0D6EFD;
    box-sizing: border-box;
    border-radius: 15px;
    animation: teste2 5s ease infinite;
}

@keyframes teste{
    0%{
        background-color: #1A1A40;
    }

    50%{
        background-color: #1B2430;
    }

    100%{
        background-color: #1A1A40;
    }
}

@keyframes teste2 {
    0%{
        background-color: #0D6EFD;
    }

    50%{
        background-color: #47B5FF;
    }

    100%{
        background-color: #0D6EFD;
    }
    
}

